@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #131313;
  overflow-x: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home-main-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.mini-task-container{
  width: auto;
  height: auto;
  display: grid;
  align-content: space-between;
  margin-top: 5rem;
}

.new-task-container{
  display: grid;
  align-items: center;
  justify-items: center;
}

.edit-tasks-container{
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: space-around;
}

.tasks-group-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5rem;
  gap: 5rem;
}

.navbar{
  display: flex;
  position: absolute;
  top: 0;
  justify-content: space-between;
  width: 85%;
}

.buttons {
  width: 150px;
  height: 40px;
  font-family: 'Poppins', sans-serif;
  border: none;
  border-radius: 15px;
  font-weight: 600;
  color: #131313;
  background-color: #FEFEFE;
  cursor: pointer;
}

.buttons:hover {
  color: #131313;
  background-color: #d3d3d3;
}

.delete-button{
  width: 150px;
  height: 40px;
  font-family: 'Poppins', sans-serif;
  border: none;
  border-radius: 15px;
  font-weight: 600;
  color: #FEFEFE;
  background-color: #611010;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #491111;
}

.inputs{
  font-family: 'Poppins', sans-serif;
}

.title{
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
}

.elements-text{
  font-weight: 500;
}

#id_description{
  color: #131313;
  background-color: #FEFEFE;
  border-radius: 10px;
  border: none;
  font-family: 'Poppins', sans-serif;
}

input {
  color: #131313;
  background-color: #FEFEFE;
  border-radius: 10px;
  border: none;
  font-family: 'Poppins', sans-serif;
}

input, textarea{
  padding: 0.5rem;
}

.form-container{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
}

.form-container-completed{
  display: flex;
  align-items: center;
  
}

.form-button-div{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.content-container{
  width: 60%;
  display: flex;
  align-items: flex-start;
  gap: 15rem;
}




